body{
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: Verdana;
    width: 900px;
    margin: 20px auto;
}

#title, .subtitle, .post_title{
    color: #505050;
}

header .perfil{
    border-radius:50%;
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0px 0px 15px 0px;
}

.post{
    background-color: #fff;
    margin: 10px 10px 15px 10px;
    padding: 15px;
    border: 1px solid #333;
}

footer ul li a{
    text-decoration: none;
    color:#333;
}
footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}